/* cadastro.css */

.auth-container {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
  }
  
  .auth-left {
    background-color: #3cc5c0;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
  }
  
  .auth-right {
    flex: 1;
    padding: 20px 20px;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo {
    width: 180px;
    margin-top: 20px;
  }
  
  .promo {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
    outline: none;
  }
  
  .btn {
    background-color: #3cc5c0;
    border: none;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background-color: #2db1ac;
  }
  
  .auth-switch {
    font-size: 14px;
    margin-top: 10px;
  }

  .crieSuaConta{
    text-align: center;
  }
  
  .auth-switch a {
    color: #3cc5c0;
    font-weight: bold;
    text-decoration: none;
  }
  
  .social-login {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }
  
  .social-login button {
    flex: 1;
    border: 1px solid #ffffff;
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .divider {
    text-align: center;
    margin: 20px 0;
    color: #888;
  }
  