/* login.css */

.auth-container {
  position: relative;
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #009999; 
  overflow: hidden;
  }
  
.auth-left {
  background-color: #009999;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  gap: 3px;
}
  
.auth-right {
  flex: 1;
  padding: 10px 10px;
  background-color: #fff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.logo {
  width: 400px !important;
  height: auto;
  object-fit: contain !important;
}
  
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
  
input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
  
.btn {
  background-color: #009999;
  border: none;
  color: white;
  padding: 12px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}
  
.btn:hover {
  background-color: #2db1ac;
}
  
.auth-switch {
  font-size: 14px;
  margin-top: 10px;
}
  
.auth-switch a {
  color: #3cc5c0;
  font-weight: bold;
  text-decoration: none;
}
.section-divider {
  border-bottom: 2px solid #000; /* linha preta */
  width: 100%;
  margin: 30px 0; /* espaçamento acima e abaixo */
}

/* Modal de Imagem */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover {
  color: #bbb;
}

  